* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    scroll-behavior: smooth;

}

body{
    background-image: radial-gradient(circle at 13% 47%, rgba(140, 140, 140,0.03) 0%, rgba(140, 140, 140,0.03) 25%,transparent 25%, transparent 100%),radial-gradient(circle at 28% 63%, rgba(143, 143, 143,0.03) 0%, rgba(143, 143, 143,0.03) 16%,transparent 16%, transparent 100%),radial-gradient(circle at 81% 56%, rgba(65, 65, 65,0.03) 0%, rgba(65, 65, 65,0.03) 12%,transparent 12%, transparent 100%),radial-gradient(circle at 26% 48%, rgba(60, 60, 60,0.03) 0%, rgba(60, 60, 60,0.03) 6%,transparent 6%, transparent 100%),radial-gradient(circle at 97% 17%, rgba(150, 150, 150,0.03) 0%, rgba(150, 150, 150,0.03) 56%,transparent 56%, transparent 100%),radial-gradient(circle at 50% 100%, rgba(25, 25, 25,0.03) 0%, rgba(25, 25, 25,0.03) 36%,transparent 36%, transparent 100%),radial-gradient(circle at 55% 52%, rgba(69, 69, 69,0.03) 0%, rgba(69, 69, 69,0.03) 6%,transparent 6%, transparent 100%),linear-gradient(90deg, rgb(255,255,255),rgb(255,255,255));
    
}
:root {
    --bg-color: #1f242d;
    --second-bg-color: #323946;
    --text-color: #fff;
    --main-color: #3A86FF;
    --shadow-color: #FFBE0B;
}

html {
    font-size: 80%;
    overflow-x: hidden;
}


/* ----------------------------------------NavBar------------------------------------------------------------- */
.logo {
    width: 120px;
    /* border-radius: 20px; */
    /* border: 1px solid var(--bg-color); */
    transition: .5s ease;
}

.logo:hover {
    box-shadow: 0 0 2rem var(--main-color);
}

nav a {
    font-family: 'Dancing Script Medium';
    
}
.navbar-nav .nav-item .nav-link {
    color:var(--main-color);
    font-size: 16px;

}


.navbar-nav {
    font-size: 1.1rem;
}

/* Dark Mode */
/* body {
    background-color: #f0f0f0;
    color: #333;
  }
  
  .dark-mode {
    background-color: #333;
    color: #f0f0f0;
  } */
  

/* -------------------------------------------Body------------------------------------------------------------- */
/* -----------------Concept------------------- */
.title {
    font-family: 'Hanken Grotesk Medium';
    text-align: center;
    font-size: 2.5rem;
    /* color: var(--main-color); */
    /* text-shadow:   -1px -1px 0 #fff,  
    1px -1px 0 #fff,
    -1px 1px 0 #fff,
     1px 1px 0 #fff,
     1px 1px 10px #141414;color:#333; */

}


/* test1-------------------------------------------------------------- */
:root {
    --background: #efefef;
    --primary-font: 'Hanken Grotesk Medium';
    --first-color: var(--bg-color);
    --second-color: var(--main-color);
  }
  
  .title {
    font-family: var(--primary-font);
    font-size: 2em;
    text-align: center;
  }
  
  #text {
    font-family: var(--primary-font);
    font-size: 6em;
    line-height: 1em;
    text-align: center;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    cursor: default;
    margin-top: 80px;
  }
  
  .wrapper {
    display: inline-block;
    top: -900px;
    position: relative;
    height: 150px; /* par défaut */
    width: 90px; /* par défaut */
    transition: ease 0.3s all;
  }
  
  .wrapper span {
    position: absolute;
    top: 0;
    right: 0;
    transition: ease 0.3s all;
  }
  
  .wrapper span.letter-2 {
    color: var(--first-color);
  }
  
  .wrapper span.letter-1 {
    color: var(--second-color);
    z-index: 1;
  }
  
  .wrapper span.letter-1:hover {
    top: -3px;
    right: -3px;
  }
  
  .wrapper span.letter-1:hover ~ .letter-2 {
    top: 3px;
    right: 3px;
  }
  
  .wrapper span.space {
    padding: 0;
    min-width: 30px;
    display: inline-block;
  }
  
/* test1------------------------------------------------------------ */

/* test2------------------------------------------------------------------ */


/* test2-------------------------------------------------------------------- */
.titleh2 {
    font-family: 'Hanken Grotesk Medium';
    color: var(--shadow-color);
    text-shadow: 2px 0 0 var(--second-bg-color);
    font-size: 2rem;
    text-align: center;
}

.fontText {
    font-family: 'Hanken Grotesk Medium';
    font-size: 1.6rem;
    color: var(--text-color);
    /* text-shadow: 1px 0 0 var(--second-bg-color); */
}

.bold {
    font-family: 'Hanken Grotesk Medium';
    font-weight: bold;
    color: black;
}


.alignement {
    /* text-align: center; */
    font-weight: 600;
    
}

.shadow {
    /* background-image: url(../img/confetti.jpg); */
    background-image: linear-gradient(41deg, rgba(107, 107, 107, 0.04) 0%, rgba(107, 107, 107, 0.04) 8%,rgba(31, 31, 31, 0.04) 8%, rgba(31, 31, 31, 0.04) 100%),linear-gradient(9deg, rgba(228, 228, 228, 0.04) 0%, rgba(228, 228, 228, 0.04) 62%,rgba(54, 54, 54, 0.04) 62%, rgba(54, 54, 54, 0.04) 100%),linear-gradient(124deg, rgba(18, 18, 18, 0.04) 0%, rgba(18, 18, 18, 0.04) 37%,rgba(233, 233, 233, 0.04) 37%, rgba(233, 233, 233, 0.04) 100%),linear-gradient(253deg, rgba(201, 201, 201, 0.04) 0%, rgba(201, 201, 201, 0.04) 55%,rgba(47, 47, 47, 0.04) 55%, rgba(47, 47, 47, 0.04) 100%),linear-gradient(270deg, rgba(172, 172, 172, 0.04) 0%, rgba(172, 172, 172, 0.04) 33%,rgba(26, 26, 26, 0.04) 33%, rgba(26, 26, 26, 0.04) 100%),linear-gradient(64deg, rgba(11, 11, 11, 0.04) 0%, rgba(11, 11, 11, 0.04) 38%,rgba(87, 87, 87, 0.04) 38%, rgba(87, 87, 87, 0.04) 100%),linear-gradient(347deg, rgba(199, 199, 199, 0.04) 0%, rgba(199, 199, 199, 0.04) 69%,rgba(4, 4, 4, 0.04) 69%, rgba(4, 4, 4, 0.04) 100%),linear-gradient(313deg, rgba(36, 36, 36, 0.04) 0%, rgba(36, 36, 36, 0.04) 20%,rgba(91, 91, 91, 0.04) 20%, rgba(91, 91, 91, 0.04) 100%),linear-gradient(90deg, rgb(10, 17, 72),rgb(35, 148, 228));
    
}

.imgVecteur{
    width: 30%;
}

/* ----------------Pourquoi ?------------------- */
.titlePk {
    font-family: 'Hanken Grotesk Medium';
    text-align: center;
    color: var(--main-color);
}

/* div .card-header {
    background-color: var(--shadow-color);
}

.card-body{
    background-image: radial-gradient(circle at 69% 86%, rgba(165, 165, 165,0.06) 0%, rgba(165, 165, 165,0.06) 25%,rgba(193, 193, 193,0.06) 25%, rgba(193, 193, 193,0.06) 50%,rgba(221, 221, 221,0.06) 50%, rgba(221, 221, 221,0.06) 75%,rgba(249, 249, 249,0.06) 75%, rgba(249, 249, 249,0.06) 100%),radial-gradient(circle at 49% 76%, rgba(129, 129, 129,0.06) 0%, rgba(129, 129, 129,0.06) 25%,rgba(164, 164, 164,0.06) 25%, rgba(164, 164, 164,0.06) 50%,rgba(200, 200, 200,0.06) 50%, rgba(200, 200, 200,0.06) 75%,rgba(235, 235, 235,0.06) 75%, rgba(235, 235, 235,0.06) 100%),radial-gradient(circle at 22% 64%, rgba(173, 173, 173,0.06) 0%, rgba(173, 173, 173,0.06) 25%,rgba(119, 119, 119,0.06) 25%, rgba(119, 119, 119,0.06) 50%,rgba(64, 64, 64,0.06) 50%, rgba(64, 64, 64,0.06) 75%,rgba(10, 10, 10,0.06) 75%, rgba(10, 10, 10,0.06) 100%),linear-gradient(307deg, rgb(255,255,255),rgb(255,255,255));
} */

.card-text {
    text-align: center;
    font-family: 'Hanken Grotesk Medium';
    font-size: 1.5rem;
    font-weight: bold;
    
}

.equipe{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    width: 80%;
    max-width: 1500px;
    margin: 70px auto 0;
    margin-top: 5%;
    /* background: #625E55; */
}
.item1{
    width: 300px;
    height: 280px;
    margin: 8px;
    overflow: hidden;
    flex-shrink: 0;
    /* background-color: #3F3C37; */
    border-radius: 50%;
    background-color: #3A86FF;
}

.carteEquipe{
    /* box-shadow: 2px 5px 2px black; */
    /* margin: 4px; */
    border-radius: 100%;
    /* color: #3A86FF; */
    color: var(--text-color);
    /* background-color: #1f242d; */
}

figure{
    transition: transform .1s;
  }
  
  figure:hover{
      -ms-transform: scale(1.5); /* IE 9 */
    -webkit-transform: scale(1.5); /* Safari 3-8 */
    transform: scale(1.3); 
  }
.move1{
    display: flex;
    justify-content: center;
    align-items: center;
    
}
/* .move1{
    position: absolute;
    top: 0;
    left:0;
    width: 100%;
    height: 280px;
    display: flex;
    justify-content: center;
    align-items:flex-end;
    transform: scale(0) ;
    transition: 0.3s;
    transform-origin: bottom;
} */
/* .card:hover .move1{
    transform: scale(1);
} */


/* --------------Carousel----------------------- */



/*------------------------------------------- Footer---------------------------------------------------------- */
footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 0.8rem 9%;
    
}

.footer-text p {
    font-size: 1.6rem;

}

.footer-iconTop a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    padding: .8rem;
    background: var(--second-bg-color);
    border-radius: 8rem;
    transition: .5s ease;
    text-decoration: none;
}

.footer-iconTop a:hover {
    box-shadow: 0 0 1rem var(--shadow-color);
}

.footer-iconTop a i {
    font-size: 2.4rem;
    color: var(--main-color);
}

.social-media a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 4rem;
    height: 4rem;
    background: transparent;
    border: .2rem solid var(--second-bg-color);
    border-radius: 50%;
    font-size: 2rem;
    color: var(--second-bg-color);
    margin: 3rem 1.5rem 3rem 0;
    transition: .5s ease;
    text-decoration: none;
}

.social-media a:hover {
    background: var(--shadow-color);
    color: var(--second-bg-color);
    box-shadow: 0 0 1rem var(--main-color);
}



/* -------------------------------------------Pages Catalogue---------------------------------------------------- */

/* -----------------------------Section Produits-------------------- */

.fontText{
    text-align: center;
}

.titleCatalogue{
    font-family: 'Hanken Grotesk Medium';
    font-size: 1.8rem;
    text-align: center;
    color: var(--main-color);
}

div ul{
    /* font-family: 'Nothing You Could Do'; */
    /* text-align: start; */
    /* font-size: 1.5rem; */
    font-weight: bold;
    list-style-type: none;
}

.card-img-top{

    height: 480px;
}